.client {
    text-align: center;
    margin: auto;
    flex-wrap: nowrap;
    padding-bottom: 100px;

    &__logos {
        padding: 0 78px 0 78px;

        &__image {
            margin: 5px;
        }
    }
}