.getstarted {
    text-align: center;
    margin: auto;
    padding:100px 0 100px 0;

    &__title {
        margin-bottom: 20px;
    }
    &__paragraph {
        max-width: 50%;
        margin-bottom: 20px;
    }

    &__btn {
        &__start {
            margin-right: 5px;            
        }

        &__free {
            margin-left: 5px;
        }
    }
}